<nav class="container" aria-label="Main navigation">
    <a class="navigation" href="/#">&#x1F3E0; <span class="nomobile">Управление</span></a>
    <ul class="collapse">
        <li><a class="navigation" href="/logs.html#">&#x33D2;<span class="nomobile">События</span></a></li>
        <li><a class="navigation" href="/series.html#" disabled>&#x1F4CA;<span class="nomobile">Графики</span></a></li>
        <li><a class="navigation disabled" href="/help.html" disabled>&#x2753;<span class="nomobile">Справочник</span></a></li>
    </ul>
</nav>
