:host {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    // color: var(--color);
    --color: rgb(0, 149, 120);
}

svg:not(:root) {
    overflow: hidden;
}

.gauge .dial {
    // stroke: #334455;
    stroke: var(--color);
    stroke-width: 14;
    fill: rgba(0, 0, 0, 0);
    opacity: 0.2;
}

.gauge .value {
    stroke: var(--color);
    stroke-dasharray: none;
    stroke-width: 14;
    fill: rgba(0, 0, 0, 0);
    transition: stroke 2000ms ease 0s;
}

// .gauge .text-container text {
//     fill: #ccc;
//     color: var(--color);
//     font-weight: 100;
//     font-size: 1em;
// }

.gauge__value {
    position: absolute;
    bottom: 15%;
    left: 0;
    width: 100%;
    text-align: center;
    color: var(--color);
    font-size: 1em;
}


// Old?

.gauge {
  // width: 100%;
  flex: auto;
  max-width: 250px;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: #004033;
  // margin: 10px;
  position: relative;
  overflow: hidden;
}

.gauge__body {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: #b4c0be;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.gauge__fill {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: #009578;
  transform-origin: center top;
  transform: rotate(0.25turn);
  transition: transform 0.2s ease-out;
}

.gauge__cover {
  width: 65%;
  top: 35%;

  height: 150%;
  // background: #ffffff;
  background-color: var(--background);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  /* Text */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25%;
  box-sizing: border-box;
  color: var(--color);
}

.gauge__suffix {
    position: relative;
    bottom: 5px;
    font-size: 0.6em;
    margin-left: 3px;
}

.gauge__description{
	/* margin-top: 10px; */
	font-size: 14px;
	font-family: 'Roboto-Medium';
	/* text-transform: uppercase; */
    text-align: center;
    color: var(--color);
}
