:host {
    // padding: 10px 0;
    margin: 0;
    text-align: left;
    display: block;
    display: inline-flex;
    color: var(--color);
    background-color: var(--background);
    flex-wrap: wrap;
    align-items: baseline;

    // &:nth-child(2n) {
    //     flex-basis: 100%;
    // }
}


span {
    padding: var(--padding);
    // outline: 1px solid #ccc;
    // background-color: green;
}

.group {
    display: flex;
    flex: auto;
}

button {
    cursor: pointer;
    padding: var(--cmdPadding);
    font-size: var(--font-size);
    color: var(--cmdColor);
    background: var(--cmdBackground);

    &:active {
        background: var(--cmdColor);
        color: var(--cmdBackground);
    }

    // outline: 1px solid #ccc;
    // &:hover {
    //     outline: 1px solid black;
    // }
    &[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.value {
    flex: auto;
    text-align: center;
}
