body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}


#connect_state {
    &.show {
        display: block;
        opacity: 1;
    }
    span {
        // content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
        // background-color: white;
    }
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    display: none;
    opacity: 0;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;

    // text-align: center;
    background-color: rgba(255,255,255,0.7);

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    // padding-top: 50%;
    transition: opacity 2s linear;
}

.slidecontainer {
    display: flex;

    input[type="range"] {
        flex: auto;
    }

}

.displaycontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;

    * {
        flex: auto;
    }
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}

button {
    padding: 5px 10px;
}

ui-gauge {
    flex: 1;
}

input[type="range"] {
    padding-top: 20px;
    padding-bottom: 20px;
}
