body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-size: 1rem;
}


.container {
    padding: 10px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }
}


#connect_state {
    &.show {
        display: block;
        opacity: 1;
    }
    span {
        // content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    display: none;
    opacity: 0;
    background-color: rgba(255,255,255,0.7);

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    // padding-top: 50%;
    transition: opacity 2s linear;
}

.displaycontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 4px;

    * {
        flex: auto;
    }
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}


ui-gauge {
    flex: 1;
    min-width: 160px;
}

ui-range {
    display: block;
    width: 100%;
}

ul.page__selector {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}

ul.page__selector li {
    flex: 1;
    list-style-type: none; /* Убираем маркеры */
    margin: 0;
    padding: 10px;
    text-align: center;
    background-color: #f8f9fa;
}

ul.page__selector li.selected {
    background-color: #d8d9da;
}
